.title {
    color: coral;
    font-style: italic;
}

.navigation li {
    border: 10px solid tomato;
    position: static;
    color: rgba(255, 255, 255, 0);
}

a[href="mailto:info@devstudio.com"] {
    color: hotpink;
}

a:hover[href="mailto:info@devstudio.com"] {
    color: rgb(111, 31, 135);
}

a[href="tel:+380961111111"] {
    font-weight: bold;
    color: rgb(52, 123, 99);
}